.sidebar-container {
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fafafa;
  height: 100%;
}

.bold-paragraph {
  padding: 0px;
  margin: 0px;
  font-weight: 500;
}
.light-paragraph {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  color: var(--Grey1);
}
.brand-section {
  border: solid 1px #e2e3e5;
  background-color: white;
  cursor: pointer;
  border-radius: 12px;
}
.up-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 11px;
}

.down-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 11px;
  border-top: 1px solid #f5f5f5;
}
.plus {
  background-color: #fafafa;
  border-radius: 8px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-section {
  width: 100%;
  margin: 0 auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-links,
.sub-links {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.sub-links {
  display: flex;
  justify-content: flex-end;
}
.sub-links {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.link-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s ease;
}

.sidebar-active .link-item p,
.sidebar-inactive .link-item p {
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.link-item:hover {
  color: var(--pryColor);
}
.sidebar-active {
  color: var(--pryColor) !important;
  text-decoration: none;
}
.sidebar-inactive {
  color: var(--Grey1) !important;
  text-decoration: none;
}
.sidebar-active h4,
.sidebar-active a {
  color: var(--pryColor);
}

.sidebar-active svg [stroke] {
  stroke: var(--pryColor);
}
